<div>
<uib-tabset> 
<uib-tab ui-sref="dashboard.deptmanagement.stream" active="Depttabs[1]"> 
<uib-tab-heading>Stream</uib-tab-heading> 
</uib-tab> 
<uib-tab ui-sref="dashboard.deptmanagement.dept" active="Depttabs[2]"> 
<uib-tab-heading>Department</uib-tab-heading> 
</uib-tab> 
<uib-tab ui-sref="dashboard.deptmanagement.course" active="Depttabs[3]"> 
<uib-tab-heading> Course</uib-tab-heading> 
</uib-tab> 
<uib-tab ui-sref="dashboard.deptmanagement.sub" active="Depttabs[4]"> 
<uib-tab-heading>Subject</uib-tab-heading> 
</uib-tab> 
</uib-tabset> 
  <div ui-view></div>
</div>