<div>
     <uib-tabset>
    <uib-tab ui-sref="dashboard.plan.timetable" active="adminPlanTabs[1]">
      <uib-tab-heading>Consolitated Time Table</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="dashboard.plan.facultytimetable" active="adminPlanTabs[2]">
      <uib-tab-heading>Faculty Time Table</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="dashboard.plan.facultyplan" active="adminPlanTabs[3]">
      <uib-tab-heading>Faculty Plan</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="dashboard.plan.facwds" active="adminPlanTabs[4]">
      <uib-tab-heading>Faculty WDS</uib-tab-heading>
    </uib-tab>
  </uib-tabset>
  <div ui-view autoscroll="false"></div>
</div>