<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add/Update Resource Management </h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Name :</span>
                                 <select class="form-control"  id="colg_name" ng-model="colg_name" ng-options="colg.name for colg in listOfCollege track by colg.value " ng-change="removeBorder('colg_name');">
		                    	 </select>
								</div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">User Role :</span>
                                <input type="text" name="colgmname" id="resourcerole" class="form-control" placeholder="Add User Role" ng-model="user_role" ng-keypress="clearField('resourcerole');" >
								</div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Type(for princpal and HOD type should be 1 and for others 2) :</span>
                                <select class="form-control"  id="resourcetype" ng-model="user_type"  ng-change="removeBorder('resourcetype');" >
                                <option value="">Select type</option>
                                 <option value="1">1</option>
                                 <option value="2">2</option>
								 </select>
		                    	 </select>
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Type of Class :</span>
                                 <select class="form-control"  id="resourceclasstype" ng-model="class_type"  ng-change="removeBorder('resourceclasstype');" >
                                <option value="">Select class type</option>
                                 <option value="Lab">Lab</option>
                                 <option value="Theory">Theory</option>
								 </select>
		                    	 </select>
								</div> 
                                 </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Semester :</span>
								 <input type="text" name="colgcode" id="resourcesem" class="form-control" placeholder="Add Semester" ng-model="semester" ng-keypress="clearField('resourcesem');" >
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Section :</span>
								<input type="text" name="colgcode" id="resourcesec" class="form-control" placeholder="Add Section" ng-model="section" ng-keypress="clearField('resourcesec');" >
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Unit :</span>
								<input type="text" name="colgcode" id="resourceunit" class="form-control" placeholder="Add Unit" ng-model="reunit" ng-keypress="clearField('resourceunit');" >
								</div>
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addResourceData();"  id="addProfileData" ng-value="buttonName"/>
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>





<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-3 col-sm-3">

                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>College Name</th>
                                                    <th>User Role</th>
                                                    <th>Semester</th>
                                                    <th>Section</th>
                                                    <th>Unit</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="res in resourceData">
                                                    <td></td>
													<td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
													<td></td>
                                         			<td>
													<!--<a ui-sref='dashboard.profile({p_i:profile.profile_id})'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="reload();">  
													</a>-->
                                                    <a ui-sref=''>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editProfileData();">  
													</a>
													</td>
                                                    <td>
                                                     <a ui-sref=''>
													<input type='button' class='btn btn-xs btn-red' value='Remove' ng-click="deleteProfileData();" >  
													</a>
                                                    </td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>