<div class="row">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add/Update Stream </h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Name :</span>
                                 <select class="form-control"  id="colg_name" ng-model="colg_name" ng-options="colg.name for colg in listOfCollege track by colg.value " ng-change="removeBorder('colg_name');" ng-readonly="readcolg" ng-disabled="colgdis" >
		                    	 </select>
								</div> 
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Stream Name :</span>
                                <input type="text" name="shortname" id="stream_name" class="form-control" placeholder="Add Stream Name" ng-model="stream_name" ng-keypress="clearField('stream_name');" >
								</div> 
                                 </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Stream Code :</span>
								 <input type="text" name="colgcode" id="stream_code" class="form-control" placeholder="Add Stream Code" ng-model="stream_code" ng-keypress="clearField('stream_code');" >
								</div>
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addStreamData();"  id="addProfileData" ng-value="buttonName"/>
                            <input type="button" class="btn btn-red" ng-click="cancelStreamData();" ng-value="CancelbuttonName" ng-show="CancelButton" />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

</div>



<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-list fa-fw"></i>List of Stream</h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-5 col-sm-5">
							                 <col class="col-md-3 col-sm-3">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>
                                                    <select style="width:100%; border:none; font-weight:bold;" ng-options="colg.name for colg in listOfSearchCollege track by colg.value" ng-model="colgSearch">
                                                    <option value="">College Name</option>
                                                    </select>
                                                    </th>
                                                    <th>Stream Name</th>
                                                    <th>Code</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="stream in listOfStreamData | filter:{colg_name:colgSearch.name}:true | orderBy:'stream_name' ">
                                                    <td>{{$index+1}}</td>
													<td>{{stream.colg_name}}</td>
                                                    <td>{{stream.stream_name}}</td>
                                                    <td>{{stream.stream_code}}</td>
                                         			<td>
													<!--<a ui-sref='dashboard.profile({p_i:profile.profile_id})'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="reload();">  
													</a>-->
                                                    <a ui-sref='dashboard.deptmanagement.stream'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editStreamData(stream.stream_id);">  
													</a>
													</td>
                                                    <td>
                                                     <a ui-sref='dashboard.deptmanagement.stream'>
													<input type='button' class='btn btn-xs btn-red' value='Remove' ng-click="deleteStreamData(stream.stream_id);" >  
													</a>
                                                    </td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>