<div class="row" style="padding-top:-15px;" >
<div class="col-md-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Consolidated Time Table </h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" >
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Name :</span>
                                 <select class="form-control"  id="colg_name" ng-model="colg_name" ng-options="colg.name for colg in listOfCollege track by colg.value" ng-change="selectStream();" ng-readonly="readcolg">
		                    	 </select>
								</div> 
                    			
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Stream :</span>
                                 <select class="form-control"  id="stream_name" ng-model="stream_name" ng-options="strm.name for strm in listOfStream track by strm.value " ng-change="GetDeptData();" ng-readonly="readstrm">
		                    	 </select>
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Department :</span>
                                 <select class="form-control"  id="dept_name" ng-model="dept_name" ng-options="dept.name for dept in listOfdept track by dept.value" ng-change="checkTableData();" ng-readonly="readdept">
		                    	 </select>
								</div> 
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Course :</span>
                                <select class="form-control" id="coursename" ng-model="courseName"  ng-options="sub.name for sub in noCourse track by sub.value" ng-change="selectSemester();"  ng-readonly="readcors">
                                 <!--<option value="">Select course</option>-->
								 </select>
								</div> 
                                
                                 
                                
                                
                                
                                
                                 
                                
                                </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Semester :</span>
								 <select class="form-control" id="sem" ng-model="semester" ng-options="result.name for result in noSemesters track by result.value " ng-change="checkTableData();" >
								<!-- <option value="">Select Semester</option> -->
								 </select>
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Section :</span>
								<select class="form-control" id="section_name" ng-model="section_name" ng-options="course.name for course in listSection track by course.value" ng-change="checkTableData();">
								 
                            	 </select>
								</div>
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Academic Year :</span>
								 <select class="form-control" id="session_name" ng-model="session_name" ng-options="result.name for result in listSession track by result.value "  ng-change="checkTableData();">
		                    	 </select>
								</div>
                                
                                
                                 <div class="input-group bmargindiv1 col-md-12" style="display:none">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Publish :</span>
								 <select class="form-control" id="publish_name" onchange="updatePublish();" >
                                 <option value="0" selected>NO</option>
                                 <option value="1" >YES</option>
					       		 </select>
								</div>  
                                
                     </div>              
                    <div class="clearfix"></div>            
                    
                    <div class="col-md-12">
                     
                    <div class="table-responsive dashboard-demo-table">
				<table class="table table-bordered table-striped table-hover" id="dataTable">
 			  	<tbody id="detailsstockid">
  				</tbody>
				</table>
								</div>
                    			</div>
                    
                     <div id="data_hide"> </div>
                     
                    
                    <div class="clearfix"></div>  
                    
                    
                      <div class="col-md-6" id="hod_status_id" style="display:none">
                      
                      <div class="input-group bmargindiv1 col-md-12">
                      <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Approved By HOD :</span>
					  <select disabled="disabled" id="hod_approve" class="form-control" placeholder="" ng-readonly="aprvhod" >
                      <option value="0" selected > NO </option>
                      <option value="1" > YES </option>
                      </select>
					  </div>  
                      
                      <div class="input-group bmargindiv1 col-md-12">
                      <span class="input-group-addon ndrftextwidth text-right" style="width:180px">HOD Comments:</span>
					  <textarea readOnly id="hod_remarks"  class="form-control" maxlength="225" rows="2"  style="margin: 0px -0.5px 0px 0px; height: 150px;" ></textarea>
					  </div>
                      
                      </div>
                                
                        <div class="col-md-6" id="principal_status_id" style="display:none">         
                        
                        <div class="input-group bmargindiv1 col-md-12">
                        <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Approved By Principal :</span>
						<select disabled="disabled" id="principal_approve" class="form-control" placeholder="" ng-readonly="aprvprinc" >
                        <option value="0" selected > NO </option>
                        <option value="1" > YES </option>
                        </select>
						</div>
                        
                        <div class="input-group bmargindiv1 col-md-12">
                        <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Principal Comments:</span>
						<textarea id="principal_remarks" class="form-control" maxlength="225" rows="2"  style="margin: 0px -0.5px 0px 0px; height: 150px;" readonly="readonly"></textarea>
						</div>   
                                
                        </div>
                                
                                <div class="clearfix"></div>    
                   	<div style="text-align:center; padding-top:10px;">
                  	<input type="hidden" class="btn btn-success" id="tableid"  />
                    <!--<input type="button" class="btn btn-success" id="saveData"  value="Save" onclick="savePrincipalData1();" />-->
                	</div>

           <div class="clearfix"></div> 
           
           
                                
                                          <div class="clearfix"></div>      
                                          
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>
		</div>
            