<div class="row">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="display:block">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i>Manage City</h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    <div class="portlet-body">
                  
                    
                    
					
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Add City</h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">City Name :</span>
                                <input type="text" name="cityname" id="cityname" class="form-control oditek-form" placeholder="Add City Name" ng-model="cityname" ng-keypress="clearField('cityname');"  maxlength="30">
								</div>
                                
                                
                  	

           <div class="clearfix"></div>    
                    
                   
                     
                    </div>
                    
            <div class="clearfix"></div>
            <div style="text-align:center; padding-top:10px;">  
             <input type="button" class="btn btn-red" ng-click="cancelUpdate();"  id="saveData" value="Cancel" ng-show="cancelButton"  style="margin-right:20px;"/>   
           <input type="button" class="btn btn-success" ng-click="addCity(billdata);"  id="submitData" ng-value="submitbuttonName" ng-show="submitButton"/>
                    </div>  
                    </div>
                    </div>
                    
                    </div>
                    
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>View City</h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" style="font-size:13px" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>city Name</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                                   
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="user in objCityData">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{user.city_name}}</td>
                                                    <td>
                                                    <a ui-sref='dashboard.category.city'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editCityData(user.city_id);" >  
													</a>
													</td>
                                                    <td>
                                                    <a ui-sref='dashboard.category.city'>
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="removeCityData(user.city_id);" >  
													</a>
													</td>
                                                   
                                                    
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                    
                    
                    
                    
                                 
                                 
                                
                                 </div>
                    
                

           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
					</div>
                    </div>
                    
                 
				</div>
			</div>

</div>



