<div class="row" ng-show="showForm">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="display:block">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> View Customer Details </h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    <div class="portlet-body">
                  
                    
                    
					
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Business Information </h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Business Name :</span>
                                <input type="text" name="colgname1" id="colgname1" class="form-control oditek-form" placeholder="Add  Business Name" ng-model="name" ng-keypress="clearField('colgname1');"  maxlength="50">
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Quadrant :</span>
                                <select class="form-control"  id="quadrant" ng-model="quadrant" ng-options="qua.name for qua in listOfQuadrant track by qua.value " >
		                    	 </select>
								 <!--<select class="form-control"  id="quadrant" ng-model="quadrant"  ng-change="removeGSTValue('quadrant');">
                                 <option value="">Select Quadrant</option>
                                 <option value="NW">NW</option>
                                 <option value="NE">NE</option>
                                 <option value="SW">SW</option>
                                 <option value="SE">SE</option>
                                  <option value="Downtown">Downtown</option>
								 </select>-->
								</div>
                                <!--<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Special :</span>
                                <select class="form-control"  id="special" ng-model="special" ng-options="qua.name for qua in listOfSpecial track by qua.value " >
		                    	 </select>
								</div>-->
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Address :</span>
								<textarea id="address" name="address" class="form-control oditek-form" placeholder="Add Postal Address" rows="4" ng-model="address" style="height:70px" ng-keypress="clearField('address');"></textarea>
								</div>
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Special Type :</span>
								<!--<select class="form-control"  id="specials" ng-model="special" ng-options="spec.name for spec in listOfSpecial track by spec.value " ng-change="setCategoryValue();">
		                    	 </select> -->
                           <div ng-dropdown-multiselect="" options="example14data" selected-model="example14model" checkboxes="true" extra-settings="example14settings" class="form-control" id="specials" events="onItemSelect();"></div>
								</div>
                                <!-- <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">City :</span>
								 <input type="text" name="city" id="citycode" class="form-control oditek-form" placeholder="Add City" ng-model="citycode" ng-keypress="clearField('citycode');"  maxlength="30" >
								</div>-->
                <div class="bmargindiv1 text-center">
                  <input type="button" value="Set Special" class="btn btn-success" name="" ng-click="setMultipleSpecial();"/>
                </div>

                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">City :</span>
                                <select class="form-control" name="city"  id="city" ng-model="citycode" ng-options="qua.name for qua in listOfCity track by qua.value " >
		                    	 </select>
								</div>
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px"> Province:</span>
								 <input type="text" name="proviance" id="proviance" class="form-control oditek-form" placeholder="Add  Province" ng-model="proviance" ng-keypress="clearField('proviance');"  maxlength="30" >
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Postal Code:</span>
                                 <div ng-class="{ 'myError': billdata.postal.$touched && billdata.postal.$invalid }">
								 <input type="text" name="postal" id="postal" class="form-control oditek-form" placeholder="Add postal code" ng-model="postal" ng-keypress="clearField('postal');"  maxlength="30"  ng-pattern="/^[a-zA-Z0-9\_\- ]*$/" >
                                    </div>
								</div>
                                <div class="help-block" ng-messages="billdata.postal.$error" ng-if="billdata.postal.$touched">
                                 <p ng-message="pattern" style="color:#F00;">This field needs only alphanumeric value(e.g-0,1..9 and a,b,c,d...z and A,B,C,D...Z).</p>
                                </div>
                                
                              <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px" id="identitylabel">Country :</span>
								 <input type="text" name="country" id="con" class="form-control oditek-form" placeholder="Add Country" ng-model="country" ng-keypress="clearField('con');">
								</div>
                               <div ng-repeat="mul in mulImage">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Image{{$index+1}}:</span>
                                <div>
                                <div ng-class="{'myError': billdata.upload_{{$index}}.$touched && billdata.upload_{{$index}}.$invalid }">
                                <input type="file" class="filestyle form-control" data-size="lg" name="upload_{{$index}}" id="bannerimage_{{$index}}"  ng-model="mul.image" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB"  ngf-select="onFileSelect1($index);">
                                <div style="clear:both;"></div>
                               <input type="text" id="hidn_{{$index}}" ng-model="attach[$index]" style="display:none" />
                                </div>
                                </div>
                                <span class="input-group-btn" ng-show="mulImage.length>0">
                                  <img ngf-thumbnail="mul.image" name="pro" border="0" style="width:32px; height:32px; border:#808080 1px solid;" ng-if="mul.image !=null"><img ng-src="upload/{{mul.filename}}" name="pro" border="0" style="width:32px; height:32px; border:#808080 1px solid;" ng-if="mul.filename!=''">
								  <input type="button" class="btn btn-success" name="plus" id="plus" value="+" ng-click="addNewImageRow(mulImage);" ng-show="$last"> <input type="button" class="btn btn-danger" name="minus" id="minus" value="-"  ng-show="mulImage.length>1" ng-click="deleteNewImageRow(mulImage,$index);">
                                  
                                 </span>
                                 </div>
                                  <div class="help-block" ng-messages="billdata['upload_'+$index].$error" ng-if="billdata['upload_'+$index].$touched">
                                  <p ng-message="maxSize" style="color:#F00;">File is too large.Max size is 2 mb.</p>
                              </div>
                                </div>
                                 </div>
                                
                                
                                <div class="col-md-6"> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Latitude:</span>
                                 <div ng-class="{ 'myError': billdata.lati.$touched && billdata.lati.$invalid }">
                                <input type="text" name="lati" id="latitude" class="form-control oditek-form" placeholder="Add Latitude coordinate" ng-model="latitude"   ng-keypress="clearField('businessno');" ng-pattern="/^[-+]?[0-9]{1,7}(\.[0-9]+)?$/">
                                </div>
								<span class="input-group-btn">
								  <a ui-sref="dashboard.customer.view" class="btn btn-success" style="height:30px;" title="Click Here" ng-click="getLatValue();"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                </span>
                                </div>
                                <div class="help-block" ng-messages="billdata.lati.$error" ng-if="billdata.lati.$touched">
                                 <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9).</p>
                                </div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Longitude:</span>
                                 <div ng-class="{ 'myError': billdata.longi.$touched && billdata.longi.$invalid }">
                                <input type="text" name="longi" id="longitude" class="form-control oditek-form" placeholder="Add Longitude coordinate" ng-model="longitude"   ng-keypress="clearField('businessno');" ng-pattern="/^[-+]?[0-9]{1,7}(\.[0-9]+)?$/">
                                </div>
								<!--<span class="input-group-btn">
								  <a ui-sref="dashboard.customer.view" class="btn btn-success" style="height:30px;" title="Click Here" ng-click="getLongValue();"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                </span>-->
                                </div>
                                <div class="help-block" ng-messages="billdata.longi.$error" ng-if="billdata.longi.$touched">
                                 <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9).</p>
                                </div> 
                                <div class="input-group bmargindiv1 col-md-12" ng-if=" latitude && longitude">
                                    <a ng-click="getMap();" target="_blank" href="">Display Location On The Map</a>
                                </div>
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Business Phone No:</span>
                                <div ng-class="{ 'myError': billdata.businessno.$touched && billdata.businessno.$invalid }">
                                <input type="text" name="businessno" id="businessno" class="form-control oditek-form" placeholder="Add  Business Phone no" ng-model="businessno"  ng-pattern="/^[0-9]+([,.][0-9]+)?$/" ng-keypress="clearField('businessno');"  readonly="readonly">
                                </div>
                                
								</div>
                                <div class="help-block" ng-messages="billdata.businessno.$error" ng-if="billdata.businessno.$touched">
                                <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9).</p>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px" id="identitylabel">Website URL:</span>
                                <div ng-class="{ 'myError': billdata.url.$touched && billdata.url.$invalid }">
								 <input type="url" name="url" id="weburl" class="form-control oditek-form" placeholder="Add Website URL" ng-model="url" ng-pattern="/^(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?$/" ng-keypress="clearField('weburl');">
								</div>
                                </div>
                                <div class="help-block" ng-messages="billdata.url.$error" ng-if="billdata.url.$touched">
                                <p ng-message="pattern" style="color:#F00;">Sorry Not a Valid URL, Don't Forget to Use http:// or https://.(e.g-http://abc.com)</p>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px" id="identitylabel">Contact Person :</span>
								 <input type="text" name="conperson" id="conper" class="form-control oditek-form" placeholder="Add Contact Person" ng-model="conperson" ng-keypress="clearField('conper');">
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Contact Person No:</span>
                                <div ng-class="{ 'myError': billdata.mobno.$touched && billdata.mobno.$invalid }">
                                <input type="text" name="mobno" id="mobno" class="form-control oditek-form" placeholder="Add Mobile No" ng-model="mobno"  ng-pattern="/^[0-9]+([,.][0-9]+)?$/" ng-keypress="clearField('mobno');" >
                                </div>
								</div>
                                <div class="help-block" ng-messages="billdata.mobno.$error" ng-if="billdata.mobno.$touched">
                                <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9).</p>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Email :</span>
                                <div ng-class="{ 'myError': billdata.email.$touched && billdata.email.$invalid }">
                        <input type="text" name="email" id="emailid" class="form-control" placeholder="Add Email" ng-model="email" ng-keypress="clearField('emailid');" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">
                                <div style="clear:both;"></div>
                                </div>
                                </div>
                                <div class="help-block" ng-messages="billdata.email.$error" ng-if="billdata.email.$touched">
                                <p ng-message="email" style="color:#F00;">This needs to be a valid email</p>
                                <p ng-message="pattern" style="color:#F00;">This field needs valid email format(e.g-abc@gmail.com).</p>
                                </div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Status :</span>
								 <select class="form-control" name="status"  id="status" ng-model="status"  ng-change="removeGSTValue('status');">
                                 <option value="">Select Status</option>
                                 <option value="1">Active</option>
                                 <option value="0">Inactive</option>
								 </select>
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Premium Service :</span>
								 <select class="form-control" name="premium_service"  id="service" ng-model="premium_service"  ng-change="removeGSTValue('service');">
                                 <option value="">Select Service</option>
                                 <option value="1">Yes</option>
                                 <option value="0">No</option>
								 </select>
								</div>
                            <!--    <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Need to Link ? :</span>
								 <select class="form-control" name="premium_service"  id="linkstatus" ng-model="need_to_link"  ng-change="removeGSTValue('service');">
                                 <option value="">Select</option>
                                 <option value="1">Yes</option>
                                 <option value="0">No</option>
								 </select>
								</div> -->
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Peer Bussines Name:</span>
								 <select  class="form-control" name="parentrestname" id="parentrestname" ng-model="parentrestname" ng-options="result.name for result in listRestaurant track by result.value ">
                                 </select>
								</div>
                                <div class="input-group bmargindiv1 col-md-12" ng-show="status==1">
                                <div ng-class="{ 'myError': billdata.bannerimage.$touched && billdata.bannerimage.$invalid }">
								<div class="image-upload text-center">
								<label for="imagefile1">
 								<img ng-src="{{attchImage1}}" style="cursor:pointer;width:auto; height:160px; border:1px #666 solid"/>
								</label>
                                <input type="file"  data-size="lg" name="bannerimage" id="imagefile1"  ng-model="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB"  custom-on-change="uploadFile"  ngf-select="onFileSelect($file);" >
                                <div class="input-group bmargindiv1 col-md-12">
                                <label for="imagefile1" >
 								<span style="color:#00F; font-style:italic; cursor:pointer"> Click here to upload Image </span>
                                 <input type="hidden" name="someData" ng-model="imageData" />
                                </label>
                                </div>
                                <div class="help-block" ng-messages="billdata.bannerimage.$error" ng-if="billdata.bannerimage.$touched">
                                 <p ng-message="maxSize" style="color:#F00;">This image size is too large.Max size is 2 mb.</p>
                               </div>
                                </div>
                                </div>
                               <p>Recommended image size is 400 x 400 pixel</p>
                                </div>
                                


                                
                                
                                
                                
                                </div>
                                
                  	

           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Special</h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body">
                    	<div class="table-responsive dashboard-demo-table">
                                    <!--<input type="button" class="btn btn-success"  id="addProfileData" exportTable="exportAction" value="PDF"/>-->
										<table ng-init="init()" class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Day</th>
                                                    <th>Category</th>
                                                    <th>Subcategory</th>
                                                    <th>Comments Or special promotion</th>
                                                     <th>Add More</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                            <tr ng-repeat="d in days">
                                               		<!--<tr ng-repeat="d in days">
                                                    <td>{{d.day_name}}</td>
													<td> <select class="form-control" name="catagory[$index]"  id="{{'catagory'+$index}}" ng-model="answers['catagory'+$index]" ng-options="cat.name for cat in listOfCatagory track by cat.value " ng-change="removeBorder('catagory',$index,answers['catagory'+$index].value,answers['cata'+$index].value,answers['catagory'+$index].name,answers['cata'+$index].name);" >
                                                    <option value="">Select Category</option>
		                    	 </select>
                                 <select class="form-control" name="cata[$index]"  id="{{'cata'+$index}}" ng-model="answers['cata'+$index]" ng-options="cat.name for cat in listOfCatagory track by cat.value " ng-change="setCatagory($index,answers['catagory'+$index].value,answers['cata'+$index].value,answers['catagory'+$index].name,answers['cata'+$index].name);">
                                                    <option value="">Select Category</option>
		                    	 </select>
                                 </td>
                                                    <td>
                                                    <select class="form-control" name="subcatagory[$index]"  id="{{'subcatagory'+$index}}" ng-model="answers['subcatagory'+$index]" ng-options="sub.name for sub in listOfSubCatagory[$index] track by sub.value "  >
                                                    <option value="">Select Subcategory</option>
		                                         </select>
                                                 <select class="form-control" name="subcata[$index]"  id="{{'subcata'+$index}}" ng-model="answers['subcata'+$index]" ng-options="sub.name for sub in listOfSubCatagory1[$index] track by sub.value ">
                                                    <option value="">Select Subcategory</option>
		                                         </select>
                                                 </td>
                                                    <td><input type="text" name="comment[$index]" id="{{'comment'+$index}}" class="form-control oditek-form" placeholder="Add Comment" ng-model="answers['comment'+$index]" ng-keyup="comment($index,comment[$index]);"><input type="text" name="comm[$index]" id="{{'comm'+$index}}" class="form-control oditek-form" placeholder="Add Comment" ng-model="answers['comm'+$index]"></td>
                                                  
													</tr>	-->
                                                    <td>{{d.day_name}}</td>
        <td>
          <table>
            <tbody>
              <tr ng-repeat="answer in d.answers">
                <td>
                  <select class="form-control" id="answer_{{$index}}_{{$parent.$index}}_category" name="answer_{{$index}}_category" ng-model="answer.category" ng-options="cat.name for cat in listOfCategory track by cat.value"  ng-change="removeBorder($index,answer.category.value,$parent.$index)" ng-init="renderWithMode($index,answer.category.value,$parent.$index,isEditMode)">
                    <option value="">Select Category</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table>
            <tbody>
              <tr ng-repeat="answer in d.answers">
                <td>
                  <select class="form-control" id="answer_{{$index}}_{{$parent.$index}}_subcategory" name="answer_{{$index}}_subcategory" ng-model="answer.subcategory" ng-options="sub.name for sub in listOfSubCategory[$parent.$index][$index] track by sub.value">
                    <option value="">Select Subcategory</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table>
            <tbody>
              <tr ng-repeat="answer in d.answers">
                <td>
                  <input type="text" id="answer_{{$index}}_{{$parent.$index}}_comment" name="answer_{{$index}}_comment" placeholder="Add Comment" ng-model="answer.comment" maxlength="512">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table>
            <tbody>
              <tr ng-repeat="answer in d.answers">
                <td style="width:20px">
                  <input ng-show="d.answers.length>1" class="btn btn-red" type="button" name="minus" id="minus" value="-" style="width:20px; text-align:center;" ng-click="removeRow(d.answers, $index,$parent.$index)"> 
                </td>
                <td ng-show="$last">
                  <input type="button" class="btn btn-success"  name="plus" id="plus" value="+" style="width:20px; text-align:center;" ng-click="addNewRow(d.answers)">
                </td>
                <td>
                <input type="checkbox" name="answer_{{$index}}_check" ng-model="answer.check" ng-checked="answerIsSelected($parent.$index, $index)" ng-click="toggleAnswerSelected($parent.$index, $index)" ng-disabled="isDisabled($parent.$index, $index)" ng-true-value="true" ng-false-value="false" style="margin-left:10px;"> 
                </td>
              </tr>
            </tbody>
          </table>
        </td>      </tr>
    </tbody>
          </table>
        
								</div>
              
           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
                        <div class="portlet-heading">
					    <div class="portlet-title" id="SHOWINFO">
					    <h4><i class="fa fa-list fa-fw"></i>Login Information </h4>
					    </div>
					    <div class="clearfix"></div>
					     </div>	
                         <div class="portlet-body">
                    
                         <div class="totalaligndiv">
                            <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Login Id :</span>
                               <input type="text" name="mobno" id="mobno" class="form-control oditek-form" placeholder="Login Id" ng-model="businessno"  maxlength="30" disabled="disabled"> 
								</div>
                                                       
                                </div>
                                 <div class="col-md-6">
                                 <input type="button" class="btn btn-green" ng-click="resetPasswod();"  value="Click here to reset Password" ng-show="hidebtn"  />
                                    <div class="input-group bmargindiv1 col-md-12"  ng-hide="showpass">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Password:</span>
                                <div ng-class="{ 'myError': billdata.pass.$touched && billdata.pass.$invalid }">
                                <input type="password" name="pass" id="passno" class="form-control" placeholder="password" ng-model="password" ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})/" ng-keypress="clearField('passno');" tabindex="7" >
                                </div>
								
								</div>
                               <div class="help-block" ng-messages="billdata.pass.$error" ng-if="billdata.pass.$touched">
                                <p ng-message="minlength" style="color:#F00;">This field is too short.The min length of your password should be 8.</p>
                                 <p ng-message="pattern" style="color:#F00;">This field needs the special character like at least one number,upper case,lower case letter.</p>
                                
                                </div>
                               <div class="col-md-12 text-right" style="padding-right:0px;" ng-show="rejectpass" ng-click="closePass();"><button type="button" class="btn btn-danger btn-sm">Cancel</button></div>
                                 </div>
                         </div>
                         </div>
                        <div class="clearfix"></div>       
                    </div>
                  
                    <div style="text-align:center; padding-top:10px;">
                    
                  <input type="button" class="btn btn-success" ng-click="updateResturantDetails(billdata);"  id="saveData" ng-value="buttonName"   style="margin-right:20px;"/><input type="button" class="btn btn-red" ng-click="clearCustomerInfoData();"  id="addProfileData" ng-value="ClearbuttonName" ng-show="showCancel"/></div>
                    
                    
                <div style="text-align:right; padding-top:10px;">
                    Last Update:{{timestamp}}
                 </div>
                    
                    
                    </div>
                    
                    
                    </div>
                    </div>
                        </div>
                        	
					</form>
					</div>
                    
                    
                    <!-- /.////////////////////////////////////////////////////////// -->
                    
                    
                    
                    <div class="col-lg-12" style="display:none">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Confirm New Registration </h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="confirmdata" id="confirmdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    
                    </div>
                    </div>	
                        	
					</form>
					</div>
                    
                    
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

</div>




<!-- Display the list of customer -->
<div class="col-lg-12">



										<div class="portlet portlet-blue" style="margin-bottom:12px;">
										<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO" style="float:none;">
									<h4 style="color:#FFF; margin:0px; padding-top:10px;"><i class="fa fa-list fa-fw"></i>List of Customer Details</h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                            
                                            
                                            
                                     <div class="portlet-body">
                                        <div class="input-group" style="margin-bottom:10px; width:300px;">
											<!--<input class="form-control" placeholder="Type Restaurant Name" name="q" type="text" ng-model="searchProduct.rest_name">-->
                                            <input class="form-control" placeholder="Type Business Name" name="q" type="text" ng-model="letter">
											<div class="input-group-btn">
												<button class="btn btn-default" type="button" ng-click="exportData();">Export</button>
											</div>
									   </div>
									<div class="table-responsive dashboard-demo-table">
                                    <div id="importable">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Business Name</th>
                                                   <!-- <th>Image</th>-->
                                                   <!-- <th>Quadrant</th> -->
                                                    <th>
                                                    City
                                                    </th>
                                                     <th>
                                                 	Province
                                                    </th>
                                                    <!--<th>
                                                  	Postal
                                                    </th>
                                                    <th>Address</th>
                                                    <th>Country</th>-->
                                                    <th>Contact Person</th>
                                                    <th>Contact Person No</th>
                                                    <th>URL</th>
                                                    <th>Status</th>
                                                    <th>Premium</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                           <tr dir-paginate="cus in ($parent.labelResults=(listOfCustomerData  | startsWithLetter:letter | orderBy:'rest_name')) | itemsPerPage:5 track by $index" current-page="currentPage">
                                         <!--<tr dir-paginate="cus in ($parent.labelResults=(listOfCustomerData  | filter:searchProduct.rest_name:startsWith | orderBy:'rest_name')) | itemsPerPage:5 track by $index" current-page="currentPage">-->
                                               		
                                                    <td>{{itemsPerPage *(currentPage-1)+$index+1}}</td>
                                                    <td>{{cus.rest_name}}</td>
                                                    <!--<td><img ng-src="upload/{{cus.image}}" name="pro" border="0" style="width:50px; height:50px; border:#808080 1px solid;" /></td>-->
                                                   <!-- <td>{{cus.quadrant_name}}</td>-->
                                                    <td>{{cus.city_name}}</td>
                                                    <td>{{cus.proviance}}</td>
                                                    <!--<td>{{cus.postal}}</td>
                                                    <td>{{cus.address}}</td>
                                                    <td>{{cus.country}}</td>-->
                                                    <td>{{cus.person}}</td>
                                                    <td>{{cus.mobile}}</td>
                                                    <td>{{cus.url}}</td>
                                                    <td ng-if="cus.status==1">Active</td>
                                                    <td ng-if="cus.status==0">Inactive</td>
                                                    <td ng-if="cus.premium==1">Yes</td>
                                                    <td ng-if="cus.premium==0">No</td>
                                         			<td >
                                                    <a ui-sref="dashboard.customer.view">
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editProductViewData(cus.member_id,currentPage);">  
													</a>
													</td>
                                                    <td>
                                                     <a ui-sref="dashboard.customer.view">
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="deleteProductInfoData(cus.member_id);" >  
													</a>
                                                    </td>
													</tr>	
											</tbody>
										</table>
                                        </div>
                                        <div class="pull-right">
                                            <dir-pagination-controls  max-size="5"  direction-links="true"  boundary-links="true" >
				                            </dir-pagination-controls>
                                        </div>
                   <!--<div class="pull-right">
                   <dir-pagination-controls  max-size="5"  direction-links="true"  boundary-links="true" >
				  </dir-pagination-controls>
                  </div>-->
                  <div class="clear"></div>
								</div>
								<div class="table-responsive dashboard-demo-table"  id="exportable" style="display:none;">
								<table class="table table-bordered table-striped table-hover" id="exportable1">
								  <thead>
								  <tr>
									<th>Sl. No</th>
									<th>Resturant Name</th>
                                    <th>Date</th>
									<th>Quadrant</th>
									<th>City</th>
									<th>Province</th>
									<th>URL</th>
									<th>Phone No</th>
                                    <th>Business Phone No</th>
                                    <th>Country</th>
                                    <th>Contact Person</th>
                                    <th>Email</th>
									<th>Status</th>
                                    <th>Premium</th>
									<th>Special</th>
								  </tr>
								  </thead>
								  <tbody>
								  <tr ng-repeat="rpt in listOfReportData">
									<td valign="top">{{$index+1}}</td>
									<td valign="top">{{rpt.rest_name}}</td>
									<td valign="top">{{rpt.date}}</td>
									<td valign="top">{{rpt.quadrant_name}}</td>
									<td valign="top">{{rpt.city}}</td>
									<td valign="top">{{rpt.proviance}}</td>
									<td valign="top">{{rpt.url}}</td>
									<td valign="top">{{rpt.mobile}}</td>
                                    <td valign="top">{{rpt.business_phone_no}}</td>
                                    <td valign="top">{{rpt.country}}</td>
                                    <td valign="top">{{rpt.contact_person}}</td>
                                    <td valign="top">{{rpt.email}}</td>
                                    <td ng-if="rpt.status==1" valign="top">Active</td>
                                    <td ng-if="rpt.status==0" valign="top">Inactive</td>
                                    <td ng-if="rpt.premium==1" valign="top">Yes</td>
                                    <td ng-if="rpt.premium==0" valign="top">No</td>
                                    <td>
                                    <table border="1">
                                    <tr>
                                    <th>Day</th>
                                    <th>Category</th>
                                    <th>Sub-category</th>
                                    <th>Comment</th>
                                    </tr>
                                     <tr ng-repeat="spe in rpt.special">
                                      <td valign="top">{{spe.day}}</td>
                                      <td valign="top">{{spe.cat_name}}</td>
                                      <td valign="top">{{spe.subcat_name}}</td>
                                      <td valign="top">{{spe.comment}}</td>
                                     </tr>
                                    </table>
                                    </td>
									<!--<td>Day</td>
									<td>Category</td>
									<td>Sub-category</td>
									<td>Comment</td>
								  </tr>
								  <tr ng-repeat="spe in rpt.special">
									<td>{{spe.day}}</td>
									<td>{{spe.cat_name}}</td>
									<td>{{spe.subcat_name}}</td>
									<td>{{spe.comment}}</td>-->
								  </tr>
								  </tbody>
								</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                                
                				</div>
								</div>