<div class="row">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="display:block">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i>Business Hour  </h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					
                    <div class="portlet-body">
                  
                    
                    
					
                    <div class="portlet portlet-blue" style="margin-bottom:12px;">
					<div class="portlet-heading">
					<div class="portlet-title" id="SHOWINFO">
					<h4><i class="fa fa-list fa-fw"></i>Business Hour</h4>
					</div>
					<div class="clearfix"></div>
					</div>	
                    <div class="portlet-body" style="padding-bottom:0px">
                    
                    <div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right oditek-form" style="width:180px">Business Name :</span>
                               <select class="form-control"  id="restau" ng-model="restaurant" ng-options="qua.name for qua in listOfRestaurant | orderBy:'name' track by qua.value " ng-change="getPeerBusiness();">
                                   <option value="" >Select Business Name</option> 
                                </select>
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Day :</span>
                                <select class="form-control"  id="day" ng-model="days" ng-options="qua.name for qua in listOfDays track by qua.value " ng-change="getSubcategoryValue('day');">
		                    	 </select>
								
								</div>
                               
                                <div class="col-md-6" ng-show="showchild">
                                    <div class="input-group bmargindiv1 col-md-12">
                                        <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Peer Business Name :</span>
                                        <div ng-dropdown-multiselect="" options="example14data" selected-model="example14model" checkboxes="true" extra-settings="example14settings" class="form-control"></div>
                                    </div>
                                </div>
                                 </div>
                                
                                
                                <div class="col-md-6"> 
                                    <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">From Time :</span>
                                <input type="text" name="time" id="time" class="form-control oditek-form" placeholder="E.G-9.00am" ng-model="time" ng-change="clearField('time');"  maxlength="30" time-picker="" >
								</div>
								<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">To Time :</span>
                                <input type="text" name="time1" id="time1" class="form-control oditek-form" placeholder="E.G-10.00am" ng-model="time1" ng-change="clearField('time1');"  maxlength="30" time-picker="" >
								</div>	
                                </div>
                                
                  	

           <div class="clearfix"></div>    
                    
                    </div>
                    
            <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    <div style="text-align:center; padding:10px 0px;">
                    
                  <input type="button" class="btn btn-success" ng-click="addTimeDetails(billdata);"  id="saveData" ng-value="buttonName"   style="margin-right:20px;"/><input type="button" class="btn btn-red" ng-click="clearTimeData();"  id="addProfileData" ng-value="ClearbuttonName" ng-show="showCancel"/></div>
                    
                    
                    
                    
                    
                    
                    </div>
                    
                    
                    </div>
                    </div>	 	
					</form>
					</div>
                    
                    
                    <!-- /.////////////////////////////////////////////////////////// -->
                    
                    
                    
                   
					<!-- /.col-lg-12 -->

				</div>
			</div>

</div>


<!-- Display the list of customer -->
<div class="col-lg-12">



										<div class="portlet portlet-blue" style="margin-bottom:12px;">
										<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO" style="float:none;">
									<h4 style="color:#FFF; margin:0px; padding-top:10px;"><i class="fa fa-list fa-fw"></i>List Of Business Time Info</h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                            
                                            
                                            
                                     <div class="portlet-body">
                                        <div class="input-group" style="margin-bottom:10px; width:300px;">
											<input class="form-control" placeholder="Type Business Name" name="q" type="text" ng-model="restName">
									   </div>
									<div class="table-responsive dashboard-demo-table">
                                    <div id="importable">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Business Name</th>
                                                    <th>Day</th>
                                                    <th>
                                                   Time
                                                    </th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                            <tr>
                                               		<tr ng-repeat="cus in listOfTimeData | startsLetter:restName">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cus.rest_name}}</td>
                                                    <!--<td><img ng-src="upload/{{cus.image}}" name="pro" border="0" style="width:50px; height:50px; border:#808080 1px solid;" /></td>-->
                                                    <td>{{cus.day_name}}</td>
                                                    <td>{{cus.time}}</td>
                                         			<td >
                                                    <a ui-sref="dashboard.customer.time">
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editTimeData(cus.time_id,cus.member_id,cus.day_id);">  
													</a>
													</td>
                                                    <td>
                                                     <a ui-sref="dashboard.customer.time">
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="deleteTimeData(cus.time_id);" >  
													</a>
                                                    </td>
													</tr>	
                                                     <tr ng-if="listOfTimeData.length <= 0">
                                                    <td colspan="6">
                                                        <center>
                                                          <p><b>No Record Found</b>
                                                          </p>
                                                       </center>
                                                    </td>
                                                    </tr>
											</tbody>
										</table>
                                        </div>
                                       <!-- <div class="pull-right">
                                            <dir-pagination-controls  max-size="5"  direction-links="true"  boundary-links="true" >
				                            </dir-pagination-controls>
                                        </div>-->
                   <!--<div class="pull-right">
                   <dir-pagination-controls  max-size="5"  direction-links="true"  boundary-links="true" >
				  </dir-pagination-controls>
                  </div>-->
                  <div class="clear"></div>
								</div>
								
								</div>
                				<div class="clearfix"></div>
                                
                				</div>
								</div>

