
    	<div class="container">
        	<div class="row">
                <div class="col-md-12 text-center login-header" style="padding:40px 0px;">
		
                </div>
                <!--/span-->
            </div><!--/row-->
        	<div class="col-md-6 marginautodiv floatnonediv well">
            	<div class="totalaligndiv">
            	<div class="alert alert-info text-center">
               		<img src="img/logo.png"  style="width:100px; height:auto"/>
                    <BR>
                    Please enter your Password to reset again.
                </div>
                 <form name="billdata" class="form-horizontal"  id="frmlogin"  autocomplete="off">
                    <fieldset>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                             <div ng-class="{ 'myError': billdata.password.$touched && billdata.password.$invalid }">
                            <input type="password" name="password" id="txtname" class="form-control" placeholder="Password" ng-model="password" ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[_!@#\$%\^&\*])(?=.{8,})/" ng-keypress="clearField('txtname');">
                        </div>
                        </div>
                         <div class="help-block" ng-messages="billdata.password.$error" ng-if="billdata.password.$touched">
                                <p ng-message="minlength" style="color:#F00;">This field is too short.The min length of your password should be 8.</p>
                                 <p ng-message="pattern" style="color:#F00;">This field needs the special character like at least one number,upper case,lower case letter and special charcter (e.g-_,@,#,&,% ).</p>
                                
                                </div>
                        <div class="clearfix"></div><br>
    
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <div ng-class="{ 'myError': billdata.con_password.$touched && billdata.con_password.$invalid }">
                            <input type="password" name="con_password" id="txtpwd" class="form-control" placeholder="Confirm Password" ng-model="con_password" ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[_!@#\$%\^&\*])(?=.{8,})/" ng-keypress="clearField('txtpwd');">
                        </div>
                        </div>
                        <div class="help-block" ng-messages="billdata.con_password.$error" ng-if="billdata.con_password.$touched">
                                <p ng-message="minlength" style="color:#F00;">This field is too short.The min length of your password should be 8.</p>
                                 <p ng-message="pattern" style="color:#F00;">This field needs the special character like at least one number,upper case,lower case letter and special charcter (e.g-_,@,#,&,% ).</p>
                                
                                </div>
                        <div class="clearfix"></div><br>
						<!--<div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <select id="coy" name="coy" class="form-control" ng-model="user_type" >
								 <option value="">Select User Type</option>
                                 <option value="admin">admin</option>
                                 <option value="hod">hod</option>
								 </select>
                        </div>
                        <div class="clearfix"></div>-->
    
                        <div class="input-prepend">
                        </div>
                        <div class="clearfix"></div>
    
                        <p class="text-center tbpaddingdiv2">
                        <button type="text" name="login" id="login" class="btn btn-primary"  style="width:270px;" ng-click="resetPass(billdata);">Reset Your Password</button>
                        </p>
                    </fieldset>
                </form>
                </div>
            </div>
        </div>