<style type="text/css">
.under_construction{ margin-top:20%;}
h1, p{ text-align:center;}
.blink_me {
  animation: blinker 1s linear infinite;
}
p{ font-size:18px;}
@keyframes blinker {  
  50% { opacity: 0; }
}
</style>
<div class="under_construction">
	<h1>Site is under maintainance</h1>
     <p class="blink_me">We will be back soon</p>
</div>
