<div id="loading_data" style="display:none;">
<img src="img/loading.gif" border="0" name="CIT" style="float:left; width:50px; height:auto; padding:10px;">
<span style="float:left; padding-left:10px;">Please wait...</span>
<div class="clear"></div>
</div> 


    <div id="wrapper">

        <!-- begin TOP NAVIGATION -->
        <nav class="navbar-top navbar-custom" role="navigation" >

            <!-- begin BRAND HEADING -->
            
            <!-- end BRAND HEADING -->

            <div class="nav-top">

           <div class="text-left" style="padding-top:10px; width:800px; float:left;">
           <img height="40" border="0" name="logo" src="./img/logo.png"    style="padding-left:50px; padding-bottom:10px"/>
		
           <!--
           <img height="40" border="0" name="logo" src="./img/gopasto_new.png"    style="padding-left:50px; padding-bottom:10px"/>
           
            <span style="font-weight:bold; font-size:18px; vertical-align:middle; color:#FFF">Channabasavashwara Institude of Technology</span>
           	-->
            </div>
            
           
			  

                <!-- begin MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->
                <ul class="nav navbar-right" style="float:right">
                    <!-- end ALERTS DROPDOWN -->

                    <!-- begin USER ACTIONS DROPDOWN -->
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" style="color:#000">
                            <i class="fa fa-user"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a ui-sref=".editprofile">
                                    <i class="fa fa-user"></i> My Profile
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="logout_open" ui-sref="/" ng-click="logout();">
                                    <i class="fa fa-sign-out"></i> Logout
                                    <strong>{{userType}}</strong>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.dropdown -->
                    <!-- end USER ACTIONS DROPDOWN -->

                </ul>
                
                 <div class="text-right" style="padding-top:15px; width:400px; float:right;">
		   	<span style="font-size:12px; vertical-align:middle; color:#000">
            Logged in as {{userType}}</strong></span>
            <span style="font-size:12px; color:#999">| </span>
            <span style="font-size:12px; vertical-align:middle; color:#000" id="header-time">   
            </span> 
            
            </div>
                <!-- /.nav -->
                <!-- end MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->

            </div>
            <!-- /.nav-top -->
        </nav>
<div id="page-wrapper" class="collapsed">
	<div>

		<!-- begin PAGE TITLE AREA -->
		<!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
			
        
        
        <nav class="navbar navbar-default navbar-fixed-top"  style="margin-top:50px; z-index:1000!important;">
      <div class="container" style="width:1270px;">
        <div class="navbar-header navbar-brand">
       
        </div>
        <div id="navbar" class="navbar-collapse collapse" >
        <ul class="nav navbar-nav">
            <!--<li ui-sref-active="active" ><a ui-sref="dashboard">Home</a></li>-->
           <!-- <li ui-sref-active="active"><a ui-sref="business">Home</a></li>-->
           <li ng-class="{'active open': $state.includes('business.customer')}"><a ui-sref="business.customer.view" >Customer Info</a></li>
           <!-- <li ng-class="{'active open': $state.includes('business.analytics')}"><a ui-sref="business.analytics.summary" >Analytics</a></li>-->
           
           </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>
 
       
       
       
       
       
       
       
       
       
       
       
	   <!--main_heading_div-->
		<!--middle_content_details_data-->
        
		<div class="row" style="padding-top:120px;"  ui-view>
      
        </div>
        <!--end_middle_content_details_data-->
	</div>
	<!-- /.page-content -->

</div>


</div>
<!--<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Confirm</h3>
        </div>
        <div class="modal-body">
          {{text}}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>-->