<div>
<uib-tabset> 

<uib-tab ui-sref="business.customer.view" active="businesstabs[1]"> 
<uib-tab-heading>View Information</uib-tab-heading> 
</uib-tab> 
<uib-tab ui-sref="business.customer.image" active="businesstabs[2]"> 
<uib-tab-heading>Add Picture Special</uib-tab-heading> 
</uib-tab> 
<uib-tab ui-sref="business.customer.time" active="businesstabs[3]"> 
<uib-tab-heading>Business Hour</uib-tab-heading> 
</uib-tab>
</uib-tabset> 
<div ui-view autoscroll="off"></div>
</div>